/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}








input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}




@font-face {
    font-family: Aladin-Regular;
    src: url(fonts/SCRIPTIN.ttf);
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url(fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(fonts/JosefinSans-Bold.ttf);
}


.fix{overflow: hidden}
.floatleft{float: left}
.floatright{float: right}
.pos{width: 90%; margin: 0 auto;}
.main {
    width: 90%;
    margin: 0 auto;
     background: url(img/menu_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
 
}
img{max-width: 100%;}


.nav_back{background: linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.82));border: none;}

.signup,.signin ,.contact, .view_orders,.add_items,.sold_items,.ordered-items,.item_list,.order{
 
  padding-top: 30px;
    min-height: 100vh;
    margin-bottom: 60px;
    
}
.signin{padding-top: 140px;border-top: 0}

.contact{
  color: white;

    margin-bottom: 0;
}
.order {
    color: white;

}

.menu_item {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 2px solid black;   
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.32),rgba(0,0,0,0.32));
    padding: 10px;
}


.img_hover:hover .menu_item , .img_hover:active .menu_item {
  opacity: 1;
}

.img_hover:hover .middle, .img_hover:active .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.heading{
    background: black;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: table;
    padding: 20px;
    background:  linear-gradient(rgba(0,0,0,0.32),rgba(0,0,0,0.32));

}
.heading h1{
    font-family: JosefinSans-Regular;
    color: white;
    font-size: 4em;
    
}
.col_padding{padding: 0;}
.fix_row{width: 100%;margin: 0 auto;}
.contact_form{
    background: linear-gradient(rgba(0, 0, 0, 0.36),rgba(0, 0, 0, 0.37));
    padding: 20px 0;
    color:white;
}

.hide{
    display: none;
}
.order-table{
color:black;
    font-size: 25px;
    font-family: JosefinSans-Regular;

}





/*sold items*/

.panel-table .panel-body{
    padding:0;
}

.panel-table .panel-body .table-bordered{
    border-style: none;
    margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
    border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
    border-top: 0px;
}

.panel-table .panel-footer .pagination{
    margin:0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-heading .col h3{
    line-height: 30px;
    height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
    line-height: 34px;
}
.section_gap{
    height: 200px;
    display: block;
    background: linear-gradient(rgba(0,0,0,0.16),rgba(0,0,0,0.16));
}
.footer{
    height: 80px;
    background-color: #0C1A1E;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .main,.pos{width: 100%}
    .signup,.signin{padding-top: 0px;}

}
.nodata{
    line-height: 40vh;
    text-align: center;
    font-size: 25px;
    height: 40vh;
}
*{
    font-family: JosefinSans-Bold;
}
html{margin: 0}
@media only screen and (max-width: 550px) {
    .order-table{

        font-size: 15px;

    }

}


